<h1><%= @list.name %></h1>

<% if @list.image.attached? %>
  <%= image_tag @list.image.variant(resize_to_limit: [500, 500]) %>
<% end %>

<ul>
  <% @list.bookmarks.each do |bookmark| %>
    <li>
      <%= bookmark.movie.title %> - <%= bookmark.comment %>
      <%= link_to 'Remove', bookmark_path(bookmark), data: { turbo_method: :delete, turbo_confirm: 'Are you sure?' } %>
    </li>
  <% end %>
</ul>

<%= link_to 'Add a new bookmark', new_list_bookmark_path(@list) %>
<%= link_to 'Back to Lists', lists_path %>
